<div class="container">
  <div class="row mt-3">
    <div class="col-3 text-center py-3 border">
      <%= render partial: "shared/user_info", locals: {user: @user} %>
    </div>
    <div class="col-9 py-3 border">
      <%= @user.description %>
      <div class="text-right mt-3">
        <%= link_to 'edit', edit_user_path(@user), class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to 'My Post', user_path(@user), class: "nav-link #{'active' if action?('show')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Commment', show_comment_user_path(@user), class: "nav-link #{'active' if action?('show_comment')} " %>
        </li>
        <% if @user == current_user %>
          <li class="nav-item">
            <%= link_to 'My Collect', show_collect_user_path(@user), class: "nav-link #{'active' if action?('show_collect')} " %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Darft', show_draft_user_path(@user), class: "nav-link #{'active' if action?('show_draft')} " %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Friend', show_friend_user_path(@user), class: "nav-link #{'active' if action?('show_friend')} " %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <% if action?('show_comment') %>
        <%= render( partial: 'comments' ) %>
      <% elsif action?('show_collect') %>
        <%= render( partial: 'collects' ) %>
      <% elsif action?('show_draft') %>
        <%= render( partial: 'drafts' ) %>
      <% elsif action?('show_friend') %>
        <%= render( partial: 'friends' ) %>
      <% else %>
        <%= render( partial: 'posts' ) %>
      <% end %>
    </div>
  </div>
</div>
