<div class="container">
  <div class="row mt-3">
    <div class="col">
      <ul class="nav nav-tabs mb-5">
        <li class="nav-item">
          <%= link_to 'Categories List', admin_categories_path, class: "nav-link #{'active' if controller?('admin/categories')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Users List', admin_users_path, class: "nav-link #{'active' if controller?('admin/users')}" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= simple_form_for [:admin, @category], html: { class: 'form-inline' } do |f| %>
        <%= f.input :name %>
        <%= f.button :submit %>
      <% end %>
      <hr>
      <% @categories.each do |category| %>
        Name: <%= category.name %><br>
        <%= link_to 'edit', edit_admin_category_path(category) %>
        <%= link_to 'delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" } %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
