<div class="container">
  <div class="row">
    <div class="col">
      <h1>碼農論壇</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= link_to 'All', posts_path, class: "btn btn-outline-primary #{'active' if @category.blank? }"  %>
      <% @categories.each do |category| %>
        <%= link_to category.name, posts_path(category: category.name), class: "btn btn-outline-primary ml-2 #{'active' if category.name == @category }" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">Replies count</th>
            <th scope="col">Title</th>
            <th scope="col">Last replied at</th>
            <th scope="col">Viewed count</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="text-center"><%= post.replies_count %></th>
              <td>
                <%= link_to post.title, post_path(post) %><br>
                <% post.categories.each do |category| %>
                  <%= link_to category.name, posts_path(category: category.name), class: "badge badge-secondary" %>
                <% end %>
              </td>
              <td><%= post.replies.last.created_at.strftime("%Y-%m-%d") if post.replies.present? %></td>
              <td><%= post.viewed_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
