<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h3><%= @post.title %></h3>
      <div id="collect_button">
      <%= render partial: "collect_button" %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3 text-center py-3 border user_<%= @post.user.id %>_info">
      <%= render partial: "shared/user_info", locals: {user: @post.user} %>
    </div>
    <div class="col-9 py-3 border">
      <% if @post.image.present? %>
        <div class="row">
          <div class="col my-3">
            <%= image_tag @post.image, class: "img-fluid" %>
          </div>
        </div>
      <% end %>
      <%= @post.description %>
      <div class="text-right mt-3">
        <%= link_to 'edit', edit_post_path(@post),remote: true , class: "btn btn-primary" if @post.user == current_user %>
        <%= link_to 'delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" if @post.user == current_user || current_user.admin? %>
      </div>
    </div>
  </div>
  <div class="row bg-light mb-5">
    <% @replies.each do |reply| %>
      <div class="col-3 text-center py-3 border user_<%= reply.user.id %>_info">
        <%= render partial: "shared/user_info", locals: {user: reply.user} %>
      </div>
      <div class="col-9 py-3 border">
        <%= reply.comment %>
        <div class="text-right mt-3">
          <% if reply.user == current_user  %>
            <%= link_to 'edit', edit_post_reply_path(@post, reply), remote: true, class: "btn btn-primary" %>
            <%= link_to 'delete', post_reply_path(@post, reply), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-12 py-3 border">
      <%= simple_form_for [@post, @reply] do |f| %>
        <div class="form-group">
          <%= f.input :comment, input_html: {rows: 5}, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="ShowEditModal" aria-hidden="true"></div>

