<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h3><%= @post.title %></h3>
      <% if @post.collected?(current_user) %>
        <%= button_to 'Uncollect', uncollect_post_path(@post), class: "btn btn-outline-warning ml-3" %>
      <% else %>
        <%= button_to 'Collect', collect_post_path(@post), class: "btn btn-warning ml-3" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3 border">
    <div class="col-3">
      <%= link_to @post.user.name, user_path(@post.user) %>
    </div>
    <div class="col-9">
      <%= @post.description %><br>
      <%= button_to 'edit', edit_post_path(@post) %>
      <%= button_to 'delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" }%>
    </div>
  </div>
  <div class="row border">
    <% @replies.each do |reply| %>
      <div class="col-3">
        <%= reply.user.name %>
      </div>
      <div class="col-9">
        <%= reply.comment %><br>
        <%= button_to 'delete', post_reply_path(@post, reply), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= simple_form_for [@post, @reply] do |f| %>
        <div class="form-group">
          <%= f.input :comment, rows: 5, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
